  <div class="descuento-box">
    <input type="checkbox" id="descuentoCheckbox"> Aplicar descuento especial.
  </div>
<div style="padding:5px 0px 5px 0px;" data-csa-c-type="widget" data-csa-c-slot-id="promo-cxcw-0-0" data-csa-c-content-id="/promo/A1T9J3S8CO95RA" data-csa-c-coupon="true" data-csa-c-savings="true" data-csa-c-asin="B0CK15RRQT" data-csa-c-merchant="A1AT7YVPFBWXBL" data-csa-c-reftag="" data-csa-c-id="h8wsas-cbpduz-9nh0gw-ipq352">

                                                       <i id="badgepctch8093266713760153" class="a-icon a-icon-addon newCouponBadge">Cup칩n:</i> &nbsp; <style> .newCouponBadge { color: black; font-weight: bold; background-color: #ff9900; white-space: nowrap; min-width: 54px; text-align: center; font-size: 14px; } .newCouponBadge:before { border-bottom: 10px solid #ff9900; } .newCouponBadge:after { border-top: 10px solid #ff9900; } </style> <div style="display:inline; margin-right: -6px">      <span id="promoScriptpctch8093266713760153"> <script type="text/javascript">(function(f) {var _np=(window.P._namespace("promotionCCB"));if(_np.guardFatal){_np.guardFatal(f)(_np);}else{f(_np);}}(function(P) { if (!window.scriptLoadedpctch8093266713760153) { window.scriptLoadedpctch8093266713760153 = true; P.when('A').execute(function(A){ A.declarative('pctch8093266713760153', 'change', function(event) { if('false' == "true") { window.location.href = '/promotion/redeem/' + '?' + '&promotionId=A1T9J3S8CO95RA&asin=B0CK15RRQT&offerListingId=Jj5zp7m1j%2FpjgPLSv6RNnZIaByERsX4Hh8kynu1ZApbeUxqcy2kEZ0ZDkJWiIjYsfZrQBJZu2B3%2Bc1mmQY83pq9MfsDHiPknmCE7s9SXMxDNfLRApOquO6GRmIl93vrsztCMPzHU5nUiASY4hTts0Q%3D%3D&sku=B0CK15RRQT&anti-csrftoken-a2z=g2LOFJvQUlTb8XfRjISwk87gKGWd5jL5qUzpJ84qqIdxAAAAAQAAAABlQpc5cmF3AAAAAGfaM7%2Fie4v1Eo%2F7XVH8kQ%3D%3D'; } A.ajax('/promotion/redeem/', { method:'get', paramsFormat:'string', params:'&promotionId=A1T9J3S8CO95RA&asin=B0CK15RRQT&offerListingId=Jj5zp7m1j%2FpjgPLSv6RNnZIaByERsX4Hh8kynu1ZApbeUxqcy2kEZ0ZDkJWiIjYsfZrQBJZu2B3%2Bc1mmQY83pq9MfsDHiPknmCE7s9SXMxDNfLRApOquO6GRmIl93vrsztCMPzHU5nUiASY4hTts0Q%3D%3D&sku=B0CK15RRQT&anti-csrftoken-a2z=g2LOFJvQUlTb8XfRjISwk87gKGWd5jL5qUzpJ84qqIdxAAAAAQAAAABlQpc5cmF3AAAAAGfaM7%2Fie4v1Eo%2F7XVH8kQ%3D%3D' + '&buyingOptionType=' + ''+ '&source=dp_' + 'cxcw' + '' + '' + '_6_' + 'T1' + '' + '' + '' + '' + '' + '' + '' + '' + '' + '', success: function(data) { if (data.includes('FAILURE') || data.includes('EXCEEDED')) { alert('Ha surgido un error desconocido. Vuelve a intentarlo en otro momento.'); return; } A.$('#cbpctch8093266713760153').addClass('aok-hidden'); A.$('#donepctch8093266713760153').removeClass('aok-hidden'); A.$('#cxWidgetBadgeParentpctch8093266713760153').addClass('aok-hidden'); A.$('#couponTextpctch8093266713760153').addClass('aok-hidden'); A.$('#cxWidgetBadgeParentpctch8093266713760153 + span').addClass('aok-hidden'); if(true) { A.$('#importantDetailspctch8093266713760153').removeClass('aok-hidden'); } A.trigger('Promotions:Redeem:Success'); }, error: function() { alert('Ha surgido un error desconocido. Vuelve a intentarlo en otro momento.'); } }); }); }); } }));</script> </span>  <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" onload="window.requestAnimationFrame(function(){if (window.scriptLoadedpctch8093266713760153) {return;} var el=document.getElementById('promoScriptpctch8093266713760153'); if(el &amp;&amp; el.firstElementChild) {eval(el.firstElementChild.textContent)}})"> <span class="a-declarative" data-action="pctch8093266713760153" data-csa-c-type="widget" data-csa-c-func-deps="aui-da-pctch8093266713760153" data-pctch8093266713760153="{}" id="cbpctch8093266713760153" data-csa-c-id="uvcysf-unxjly-dyc12g-mmcwm4"> <div class="a-checkbox a-checkbox-fancy aok-inline-block checkBoxCSS"><label for="checkboxpctch8093266713760153"><input id="checkboxpctch8093266713760153" type="checkbox" name="" value=""><i class="a-icon a-icon-checkbox"></i><span class="a-label a-checkbox-label"></span></label></div> </span> <span id="donepctch8093266713760153" class="a-size-base a-color-success aok-hidden">  <i class="a-icon a-icon-success a-icon-small" role="presentation"></i>         <span class="a-color-success">&nbsp;Cup칩n de 10&nbsp;% aplicado a un producto por pedido al tramitar el pedido   <span class="a-declarative" data-action="a-modal" data-csa-c-type="widget" data-csa-c-func-deps="aui-da-a-modal" data-a-modal="{&quot;backButtonText&quot;:&quot;Atr치s&quot;,&quot;width&quot;:&quot;450&quot;,&quot;header&quot;:&quot;Condiciones&quot;,&quot;url&quot;:&quot;/promotion/details/popup/A1T9J3S8CO95RA?ref=cxcw_bxgx_tc_A1T9J3S8CO95RA&amp;source=dp_cxcw&quot;,&quot;height&quot;:&quot;600&quot;}" data-csa-c-id="14vl5d-u0bxwz-b154yp-jax884"> <a href="javascript:void(0)" role="button" class="a-popover-trigger a-declarative cxcwPopoverLink">Condiciones<i class="a-icon a-icon-popover"></i></a> </span> <style> .cxcwPopoverLink { padding-left: 6px; padding-right: 6px; } </style> &nbsp;</span> </span> <style> .checkBoxCSS:hover i { cursor: pointer; }  span#cbpctch8093266713760153 label { padding-left: 12px; text-indent: -12px; margin: 0; }  span#cbpctch8093266713760153 .a-control-row { padding-left: 1.8rem; } span#donepctch8093266713760153 i { margin-top: 4px; } </style>  </div>          <label for="checkboxpctch8093266713760153" id="couponTextpctch8093266713760153" style="display:inline; font-weight: normal; cursor: pointer;"> Aplicar cup칩n de 10&nbsp;%   <span class="a-declarative" data-action="a-modal" data-csa-c-type="widget" data-csa-c-func-deps="aui-da-a-modal" data-a-modal="{&quot;backButtonText&quot;:&quot;Atr치s&quot;,&quot;width&quot;:&quot;450&quot;,&quot;header&quot;:&quot;Condiciones&quot;,&quot;url&quot;:&quot;/promotion/details/popup/A1T9J3S8CO95RA?ref=cxcw_bxgx_tc_A1T9J3S8CO95RA&amp;source=dp_cxcw&quot;,&quot;height&quot;:&quot;600&quot;}" data-csa-c-id="i647d2-78ckap-sfl9x5-ilyt9u"> <a href="javascript:void(0)" role="button" class="a-popover-trigger a-declarative cxcwPopoverLink">Condiciones<i class="a-icon a-icon-popover"></i></a> </span> <style> .cxcwPopoverLink { padding-left: 6px; padding-right: 6px; } </style> </label> <style> label#couponTextpctch8093266713760153 span { padding-left: 6px; } </style>  <span id="importantDetailspctch8093266713760153" class="a-color-secondary aok-hidden">       Cup칩n v치lido hasta el domingo 5 de noviembre de 2023.  </span>       </div>

<div class="input-group">
    <label for="delivery_date"><b>Elige fecha de entrega</b></label>
    <div id="delivery_date"></div>
    <span id="messageDelivery"  style="color: rgb(0, 118, 0); font-size: 90%;"></span>
</div>

{% assign inventory_quantity = product.selected_or_first_available_variant.inventory_quantity %}

<div class="a-row">
    <div>
      <label class="a-form-label"> 
          <b>Color:</b>
      </label>
      <span class="selection">
          {{ product.metafields.custom.variant_color }}
      </span>  
      <br>
    </div>

    <div>
      <label class="a-form-label"> 
          <b>Duraci칩n:</b>
      </label> 
      <span class="selection">
          {{ product.metafields.custom.duration }}
      </span>
      <br>
    </div>  
    <div>
      <label class="a-form-label"> 
          <b>Ideal para:</b>
      </label> 
      <span class="selection">
          {{ product.metafields.custom.ideal_for }}
      </span>
    </div>
    
    <div>
      <label class="a-form-label"> 
          <b>Significado:</b>
      </label> 
      <span class="selection">
          {{ product.metafields.custom.meaning }}
      </span>
      <br>
    </div>
  
      {% if inventory_quantity < 10 %}
        <span style="color:#B12704;font-size: 90%">
          <b>游뚿 춰Atenci칩n! S칩lo queda(n) {{ inventory_quantity }} en stock.</b>
        </span>
      {% endif %}    

    <div>
      <label class="a-form-label">
      <b>游늸 쯈uieres pagar con Bizum?</b>
      </label> 
      <span class="selection">
          M치s info al WhatsAppp: 
            <a href="https://wa.me/34646124371?text=춰Hola!%20Estoy%20interesado%20en%20pagar%20con%20Bizum" target="_blank" class="whatsapp-link">646124371</a>.
      </span>
    </div>
  
    {% comment %}
        <div>
          <label class="a-form-label">
          <b>游늸 쮼res de Madrid y lo necesitas hoy?</b>
          </label> 
          <span class="selection">
              Rec칩gelo hoy mismo. M치s info al WhatsApp: 
              <a href="https://wa.me/34646124371?text=Hola,%20estoy%20interesado%20en%20recogerlo%20hoy%20en%20Madrid" target="_blank" class="whatsapp-link">646124371</a>.
          </span>
        </div>
    {% endcomment %}


  
</div>

{% if product.metafields.custom.variants %}

    <div>
      <label class="a-form-label">
      <b>Colores:</b>
      </label> 
    </div>

  {% assign variantes = product.metafields.custom.variants.value %}  
  <div class="image-row">
    {% for producto in variantes.productos %}
      <div class="image-container">
        <a href="{{ producto.productUrl }}">
          <img src="{{ producto.ImageUrl }}" alt="{{ producto.ColorName }}" class="imgSwatch">
        </a>
      </div>
    {% endfor %}
  </div>
{% endif %}


<!-- A침adir jQuery y jQuery UI desde CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/i18n/datepicker-es.js"></script>




<script>

var currentDate = new Date();
var currentHour = currentDate.getHours();
var currentDay = currentDate.getDay();
  
var minDateValue;


  
  
if (currentDay === 5 && currentHour >= 12) {
    minDateValue = 4;
} else {
    minDateValue = currentHour >= 18 ? 2 : 1;
}


if (currentDay === 5 && currentHour < 18) {
  minDateValue = 3;
}  
  
if(currentDay === 6){
      minDateValue = 3;
}

if(currentDay === 0){
      minDateValue = 2;
}


if(currentDay === 3){
      minDateValue = 2;
}
  
  
$( function() {
    $("#delivery_date").datepicker({
        minDate: minDateValue, 
        dateFormat: 'dd-mm-yy', 
        beforeShowDay: function(date) {
            var day = date.getDay();
            var isSunday = (day == 0);
            
            // Bloquear 1 y 9 de noviembre de 2023
            var isBlockedNovDate = (date.getFullYear() == 2023 && date.getMonth() == 10 && (date.getDate() == 1));

            var isBlockedNovDate2 = (date.getFullYear() == 2023 && date.getMonth() == 10 && (date.getDate() == 2));

            
            // Bloquear todas las fechas superiores al 30 de noviembre de 2023
            var isAfterNov30 = (date > new Date(2023, 10, 30)); // Recuerda que los meses est치n indexados desde 0

          
            
            return [!(isSunday || isBlockedNovDate || isAfterNov30), ''];
        },
        closeText: 'Cerrar',
        prevText: '<Ant',
        nextText: 'Sig>',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
        'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['ene', 'feb', 'mar', 'abr', 'may', 'jun',
        'jul', 'ago', 'sep', 'oct', 'nov', 'dic'],
        dayNames: ['domingo', 'lunes', 'martes', 'mi칠rcoles', 'jueves', 'viernes', 's치bado'],
        dayNamesShort: ['dom', 'lun', 'mar', 'mi칠', 'jue', 'vie', 's치b'],
        dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','S치'],
        weekHeader: 'Sm',
        firstDay: 1,
        onSelect: function (dateText) {
            var deliveryDate = dateText;

            if (!deliveryDate) {
                return;
            }

            $.getJSON('/cart.js', function(cart) {
                var itemWithDeliveryDate = cart.items.find(item => item.properties && item.properties['Entrega']);

                if (itemWithDeliveryDate) {
                    var updates = {};
                    updates[itemWithDeliveryDate.key] = 0;

                    $.ajax({
                        type: 'POST',
                        url: '/cart/update.js',
                        data: {
                            updates: updates
                        },
                        dataType: 'json',
                        success: function() {
                            addDeliveryDateToCart(deliveryDate);
                        },
                        error: function() {
                        }
                    });
                } else {
                    addDeliveryDateToCart(deliveryDate);
                }
            });
        }
    });
});

function addDeliveryDateToCart(deliveryDate) {
    $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: {
            quantity: 1,
            id: 47194811433284,
            properties: {
                'Entrega': deliveryDate
            }
        },
        dataType: 'json',
        success: function () {
        },
        error: function () {
        }
    });
}

</script>