{% comment %}

  <div class="descuento-box">
    <i id="badgepctch8093266713760153" class="a-icon a-icon-addon newCouponBadge">Cupón:</i>
    <input type="checkbox" id="descuentoCheckbox"> Aplicar cupón de 10%
    <br>
    <b><span id="messageDiscount" style="color: rgb(255, 0, 0); font-size: 90%;"></span></b>
  </div>

{% endcomment %}


<div class="input-group">
    <label for="delivery_date"><b>Elige fecha de entrega</b></label>
    <div id="delivery_date"></div>

  {% comment %}

    <b><span id="messageDelivery" style="color: rgb(255, 0, 0); font-size: 90%;"></span></b>

{% endcomment %}

    
</div>

{% assign inventory_quantity = product.selected_or_first_available_variant.inventory_quantity %}

<div class="a-row">
    <div>
      <label class="a-form-label"> 
          <b>Color:</b>
      </label>
      <span class="selection">
          {{ product.metafields.custom.variant_color }}
      </span>  
      <br>
    </div>

    <div>
      <label class="a-form-label"> 
          <b>Duración:</b>
      </label> 
      <span class="selection">
          {{ product.metafields.custom.duration }}
      </span>
      <br>
    </div>  
    <div>
      <label class="a-form-label"> 
          <b>Ideal para:</b>
      </label> 
      <span class="selection">
          {{ product.metafields.custom.ideal_for }}
      </span>
    </div>
    
    <div>
      <label class="a-form-label"> 
          <b>Significado:</b>
      </label> 
      <span class="selection">
          {{ product.metafields.custom.meaning }}
      </span>
      <br>
    </div>
  
      {% if inventory_quantity < 10 %}
        <span style="color: rgb(255, 0, 0);font-size: 90%">
          <b>🚨 ¡Atención! Sólo queda(n) {{ inventory_quantity }} en stock.</b>
        </span>
      {% endif %}    
  
    {% comment %}

    <div>
      <label class="a-form-label">
      <b>📍 ¿Quieres pagar con Bizum?</b>
      </label> 
      <span class="selection">
          Más info al WhatsAppp: 
            <a href="https://wa.me/34646124371?text=¡Hola!%20Estoy%20interesado%20en%20pagar%20con%20Bizum" target="_blank" class="whatsapp-link">646124371</a>.
      </span>
    </div>
  
        <div>
          <label class="a-form-label">
          <b>📍 ¿Eres de Madrid y lo necesitas hoy?</b>
          </label> 
          <span class="selection">
              Recógelo hoy mismo. Más info al WhatsApp: 
              <a href="https://wa.me/34646124371?text=Hola,%20estoy%20interesado%20en%20recogerlo%20hoy%20en%20Madrid" target="_blank" class="whatsapp-link">646124371</a>.
          </span>
        </div>
    {% endcomment %}


  
</div>

{% if product.metafields.custom.variants %}

    <div>
      <label class="a-form-label">
      <b>Colores:</b>
      </label> 
    </div>

  {% assign variantes = product.metafields.custom.variants.value %}  
  <div class="image-row">
    {% for producto in variantes.productos %}
      <div class="image-container">
        <a href="{{ producto.productUrl }}">
          <img src="{{ producto.ImageUrl }}" alt="{{ producto.ColorName }}" class="imgSwatch">
        </a>
      </div>
    {% endfor %}
  </div>
{% endif %}


<!-- Añadir jQuery y jQuery UI desde CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/i18n/datepicker-es.js"></script>




<script>

var currentDate = new Date();
var currentHour = currentDate.getHours();
var currentDay = currentDate.getDay();
  
var minDateValue;


  
  
if (currentDay === 5 && currentHour >= 12) {
    minDateValue = 4;
} else {
    minDateValue = currentHour >= 18 ? 2 : 1;
}


if (currentDay === 5 && currentHour < 18) {
  minDateValue = 3;
}  
  
if(currentDay === 6){
      minDateValue = 3;
}

if(currentDay === 0){
      minDateValue = 2;
}


if(currentDay === 4){
      minDateValue = 2;
}
  
  
$( function() {
    $("#delivery_date").datepicker({
        minDate: minDateValue, 
        dateFormat: 'dd-mm-yy', 
        beforeShowDay: function(date) {
            var day = date.getDay();
            var isSunday = (day == 0);
            
            // Bloquear 1 y 9 de noviembre de 2023
            var isBlockedNovDate = (date.getFullYear() == 2023 && date.getMonth() == 11 && (date.getDate() == 6));
            var isBlockedNovDate2 = (date.getFullYear() == 2023 && date.getMonth() == 11 && (date.getDate() == 8));

          
            // Bloquear todas las fechas superiores al 30 de noviembre de 2023
            var isAfterNov30 = (date > new Date(2023, 11, 30)); // Recuerda que los meses están indexados desde 0
            
            return [!(isSunday || isBlockedNovDate || isBlockedNovDate2 || isAfterNov30), ''];
        },
        closeText: 'Cerrar',
        prevText: '<Ant',
        nextText: 'Sig>',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
        'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['ene', 'feb', 'mar', 'abr', 'may', 'jun',
        'jul', 'ago', 'sep', 'oct', 'nov', 'dic'],
        dayNames: ['domingo', 'lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado'],
        dayNamesShort: ['dom', 'lun', 'mar', 'mié', 'jue', 'vie', 'sáb'],
        dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
        weekHeader: 'Sm',
        firstDay: 1,
        onSelect: function (dateText) {
            var deliveryDate = dateText;

            if (!deliveryDate) {
                return;
            }

            $.getJSON('/cart.js', function(cart) {
                var itemWithDeliveryDate = cart.items.find(item => item.properties && item.properties['Entrega']);

                if (itemWithDeliveryDate) {
                    var updates = {};
                    updates[itemWithDeliveryDate.key] = 0;

                    $.ajax({
                        type: 'POST',
                        url: '/cart/update.js',
                        data: {
                            updates: updates
                        },
                        dataType: 'json',
                        success: function() {
                            addDeliveryDateToCart(deliveryDate);
                        },
                        error: function() {
                        }
                    });
                } else {
                    addDeliveryDateToCart(deliveryDate);
                }
            });
        }
    });

    $("tbody .ui-state-active").removeClass("ui-state-active");

});

function addDeliveryDateToCart(deliveryDate) {
    $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: {
            quantity: 1,
            id: 47194811433284,
            properties: {
                'Entrega': deliveryDate
            }
        },
        dataType: 'json',
        success: function () {
        },
        error: function () {
        }
    });
}

</script>