<span id="deliveryDate" style="color:black;">
</span>

<br>

<span id="messageDelivery"  style="color: rgb(0, 118, 0); font-size: 90%;">
</span>

{% comment %}

  <div class="descuento-box">
    <i id="badgepctch8093266713760153" class="a-icon a-icon-addon newCouponBadge">Cupón:</i>
    <input type="checkbox" id="descuentoCheckbox"> Aplicar cupón de 10%
    <br>
    <b><span id="messageDiscount" style="color: rgb(255, 0, 0); font-size: 90%;"></span></b>
  </div>

{% endcomment %}

{% if product.metafields.custom.variants %}

    <div>
      <label class="a-form-label">
      <b>Colores:</b>
      </label> 
    </div>

  {% assign variantes = product.metafields.custom.variants.value %}  
  <div class="image-row">
    {% for producto in variantes.productos %}
      <div class="image-container">
        <a href="{{ producto.productUrl }}">
          <img src="{{ producto.ImageUrl }}" alt="{{ producto.ColorName }}" class="imgSwatch">
        </a>
      </div>
    {% endfor %}
  </div>
  
{% endif %}


{% if product.metafields.custom.related_products %}

    <div>
      <label class="a-form-label">
      <b>Otros productos:</b>
      </label> 
    </div>

      {% assign variantes = product.metafields.custom.related_products.value %}  
  <div class="image-row">
    {% for producto in variantes.productos %}
      <div class="image-container">
        <a href="{{ producto.productUrl }}">
          <img src="{{ producto.ImageUrl }}" alt="{{ producto.ColorName }}" class="imgSwatch">
        </a>
      </div>
    {% endfor %}
  </div>

  
{% endif %}



<!-- Añadir jQuery y jQuery UI desde CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/i18n/datepicker-es.js"></script>




<script>

var currentDate = new Date();
var currentHour = currentDate.getHours();
var currentDay = currentDate.getDay();
  
var minDateValue;


  
  
if (currentDay === 5 && currentHour >= 12) {
    minDateValue = 4;
} else {
    minDateValue = currentHour >= 18 ? 2 : 1;
}


if (currentDay === 5 && currentHour < 18) {
  minDateValue = 3;
}  
  
if(currentDay === 6){
      minDateValue = 3;
}

if(currentDay === 0){
      minDateValue = 2;
}


if(currentDay === 4){
      minDateValue = 2;
}
  
  
$( function() {
    $("#delivery_date").datepicker({
        minDate: minDateValue, 
        dateFormat: 'dd-mm-yy', 
        beforeShowDay: function(date) {
            var day = date.getDay();
            var isSunday = (day == 0);
            var isSaturday = (day == 6);

          
            
            // Bloquear 1 y 9 de noviembre de 2023
            var isBlockedNovDate = (date.getFullYear() == 2023 && date.getMonth() == 11 && (date.getDate() == 11));
            var isBlockedNovDate2 = (date.getFullYear() == 2023 && date.getMonth() == 11 && (date.getDate() == 8));
            var isBlockedNovDate3 = (date.getFullYear() == 2023 && date.getMonth() == 10 && (date.getDate() == 28));
            var isBlockedNovDate4 = (date.getFullYear() == 2024 && date.getMonth() == 0 && (date.getDate() == 1));
            var isBlockedNovDate5 = (date.getFullYear() == 2024 && date.getMonth() == 0 && (date.getDate() == 6));
            var isBlockedNovDate6 = (date.getFullYear() == 2023 && date.getMonth() == 11 && (date.getDate() == 9));


            
            return [!(isSunday || isSaturday || isBlockedNovDate || isBlockedNovDate2 || isBlockedNovDate3 || isBlockedNovDate4 || isBlockedNovDate5 || isBlockedNovDate6), ''];
        },
        closeText: 'Cerrar',
        prevText: '<Ant',
        nextText: 'Sig>',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
        'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['ene', 'feb', 'mar', 'abr', 'may', 'jun',
        'jul', 'ago', 'sep', 'oct', 'nov', 'dic'],
        dayNames: ['domingo', 'lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado'],
        dayNamesShort: ['dom', 'lun', 'mar', 'mié', 'jue', 'vie', 'sáb'],
        dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
        weekHeader: 'Sm',
        firstDay: 1,
        onSelect: function (dateText) {
            var deliveryDate = dateText;

            if (!deliveryDate) {
                return;
            }

            $.getJSON('/cart.js', function(cart) {
                var itemWithDeliveryDate = cart.items.find(item => item.properties && item.properties['Entrega']);

                if (itemWithDeliveryDate) {
                    var updates = {};
                    updates[itemWithDeliveryDate.key] = 0;

                    $.ajax({
                        type: 'POST',
                        url: '/cart/update.js',
                        data: {
                            updates: updates
                        },
                        dataType: 'json',
                        success: function() {
                            addDeliveryDateToCart(deliveryDate);
                        },
                        error: function() {
                        }
                    });
                } else {
                    addDeliveryDateToCart(deliveryDate);
                }
            });
        }
    });

    $("tbody .ui-state-active").removeClass("ui-state-active");

});

function addDeliveryDateToCart(deliveryDate) {
    $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: {
            quantity: 1,
            id: 47194811433284,
            properties: {
                'Entrega': deliveryDate
            }
        },
        dataType: 'json',
        success: function () {
        },
        error: function () {
        }
    });
}

</script>
